<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yyf.zhihu.api.mapper.SpecialMapper">
    <select id="selectAll" resultType="top.yyf.zhihu.api.entity.Special">
        SELECT *
        FROM list
        ORDER BY updated DESC
    </select>
</mapper>
